.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://th.bing.com/th/id/OIP.eGXCM-blVQui9fj8-vNA3AHaFj?pid=ImgDet&rs=1");
  background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: #fff;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(238, 165, 165);
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
